-# app/views/roles/_form.html.haml

%h2 Roles#_form

= form_for role do |form|
  %p
    = form.label :company
    = form.text_field :company

  %p
    = form.label :title
    = form.text_field :title

  %p
    = form.label :url
    = form.text_field :url

  %p
    = form.label :date_submitted
    = date_select :role, :date_submitted

  %p
    = form.label :notes
    %br
    = form.text_area :notes, :style => 'max-width:600px;width:100%;'

  %p
    = link_to "Cancel", roles_path
    = form.submit
