-# app/views/recruiters/index.html.haml

%h1 Recruiters

%p= link_to "New Recruiter", new_recruiter_path

= form_tag recruiters_path, :id => 'sort-recruiters', :method => :get do
  %p
    %strong Sort By:
    = select_tag :sort_field, options_for_select([['Name', :name], ['Agency', :agency]], params[:sort_field])
    = select_tag :sort_direction, options_for_select([['Asc', :asc], ['Desc', :desc]], params[:sort_direction])

%table
  %thead
    %tr
      %td Name
      %td Agency
      %td Email
      %td Phone Number
  %tbody
    - if @recruiters.blank?
      %tr
        %td{ :colspan => 4 } There are no recruiters to view.
    - @recruiters.each do |recruiter|
      %tr
        %td= link_to recruiter.name, recruiter
        %td= recruiter.agency
        %td= recruiter.email
        %td= recruiter.phone_number
