-# app/views/recruiters/show.html.haml

%h1= @recruiter.name

%p
  = link_to "Edit Recruiter", edit_recruiter_path(@recruiter)
  |
  = link_to "Delete Recruiter", @recruiter, :method => :delete

%p
  %strong Agency:
  - if @recruiter.agency.blank?
    (none)
  - else
    = @recruiter.agency

%p
  %strong Email:
  = @recruiter.email

%p
  %strong Phone Number:
  = @recruiter.phone_number

%h2 Roles

%table
  %thead
    %tr
      %td Company
      %td Title
      %td Date Submitted
  %tbody
    - if @recruiter.roles.blank?
      %tr
        %td{ :colspan => 3 } There are no roles to view.
    - @recruiter.roles.each do |role|
      %tr
        %td= link_to role.company, role
        %td= link_to role.title, role
        %td= I18n.l role.date_submitted

%p= link_to "Back to Recruiters", recruiters_path
