-# app/views/layouts/application.html.haml

!!!
%html
  %head
    %title Drone
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %p
      = link_to "Roles", roles_path
      |
      = link_to "Recruiters", recruiters_path

    = yield
